
{% load static %}
<section class="mh-experince image-bg featured-img-one" id="mh-experience">
    <div class="img-color-overlay">
        <div class="container">
            <div class="row section-separator">
                <div class="col-sm-12 col-md-6">
                    <div class="mh-education">
                        <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Education</h3>
                        <div class="mh-education-deatils">
                            <!-- Education Institutes-->
                            <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                <h4>B.Eng Computer Engineering</h4>
                                <h4>Olabisi Onabanjo University</h4>
                                <div class="mh-eduyear">2015-2020</div>
                            </div>                             
                            <!-- Education Institutes-->
                            <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                <h4>Diploma in Computer Engineering</h4>
                                <h4>Olabisi Onabanjo University</h4>
                                <div class="mh-eduyear">2011-2013</div>
                            </div>                                
                            <!-- Education Institutes-->
                            <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                                <h4>West Africa Senior School Certificate</h4>
                                <h4>Itolu Community Junior and High School</h4>
                                <div class="mh-eduyear">2005-20011</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="mh-work">
                         <h3>Work Experience</h3>
                        <div class="mh-experience-deatils">
                            <!-- Education Institutes-->
                            <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                                <h4>Web Developer <a href="#">at Evince Systems</a></h4>
                                <div class="mh-eduyear">06/2019 - 11/2019 (6 Months)</div>
                                <span>Responsibility :</span>
                                <ul class="work-responsibility">
                                    <li><i class="fa fa-circle"></i>Developing web applications</li>
                                    <li><i class="fa fa-circle"></i>Project Management</li>
                                </ul>
                            </div>                                
                            <!-- Education Institutes-->
                            <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                                <h4>Computer Techinician at <a href="#">Abseco Computers</a></h4>
                                <div class="mh-eduyear">2009-2011</div>
                                <span>Responsibility :</span>
                                <ul class="work-responsibility">
                                    <li><i class="fa fa-circle"></i>PC Troubleshooting, Repair and Maintenance</li>
                                    <li><i class="fa fa-circle"></i>Printer and Copier Machine Repair and Maintenance</li>
                                    <li><i class="fa fa-circle"></i>Selling of Computer Software</li>
                                </ul>
                            </div>                                
                            <!-- Education Institutes-->
                            <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                <h4>Computer Operator at <a href="#">Bolfunk Communications</a></h4>
                                <div class="mh-eduyear">2013-2014</div>
                                <span>Responsibility :</span>
                                <ul class="work-responsibility">
                                    <li><i class="fa fa-circle"></i>Web Designing and Development</li>
                                    <li><i class="fa fa-circle"></i>SIM Card Registration</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>       


<!--
===================
   Associations and Achievements
===================
-->
<section class="mh-experince image-bg featured-img-one" id="mh-experience">
    <div class="img-color-overlay">
        <div class="container">
            <div class="row section-separator">
                <div class="col-sm-12 col-md-6">
                    <div class="mh-education">
                        <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Association</h3>
                        <div class="mh-education-deatils">
                            <!-- Education Institutes-->
                            <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                <h4>Member Institute of Data Management and Processing (IDPM)</h4>
                                <div class="mh-eduyear">2013-Till Date</div>
                            </div>                             
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="mh-work">
                         <h3>Achievements</h3>
                        <div class="mh-experience-deatils">
                            <!-- Education Institutes-->
                            <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                                <h4>Winner <a href="#">Secure Lagos Hackathon</a></h4>
                                <div class="mh-eduyear">2018</div>
                                
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
